.gallery-container {
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100%;
  height: auto;
  margin: 0px;
}

.action-container {
  justify-content: space-between;
  margin: 0px;
}

.image {
  height: 60vh;
}

.description-container {
  padding: 15px;
}

.loader-container {
  max-width: 100%;
  min-width: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .homepage {
    margin: 10px 10%;
  }

  .image {
    height: 502px;
    width: 900px;
  }

  .App-header {
    padding-left: 15%;
    padding-right: 15%;
  }

  .img-cont {
    margin-left: 15px;
    margin-right: 15px;
  }
}
